[Desktop Entry]
Name=FairDesk
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=fairdesk %u
Icon=/usr/share/fairdesk/files/fairdesk.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=fairdesk %u
